.DetachedSideNav {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 50px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
    position: absolute;
    left: -85px;
    top: 25%;
    max-width: 68px;
    padding: 5px;
    z-index: 2;
    overflow: hidden;
}