.AppWrapper {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.ALWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
}